name: Build and Push (Docker Hub)

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login To Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Image
        run: ./scripts/build.sh

      - name: Push Image
        run: ./scripts/push.sh

